@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
body {
	background: #e5e5e5;
	font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

p {
	margin: 0;
	padding: 0;
	font-weight: 500;
}

a {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

a:hover {
	color: #FF6609;
	text-decoration: underline;
}

.nunito-font {
	font-family: 'Nunito', sans-serif;
}

.white-text {
	color: #fff;
}

.white-bg {
	background: #fff;
}

.orange-text {
	color: #FF6609;
}

.lightgrey-text {
	color: #6E7191;
}

.grey-text {
	color: #4E4B66;
}

.black-text {
	color: #14142B;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.d-flex {
	display: flex;
}

.flex-bottom {
	display: flex;
	align-items: flex-end;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.flex-vertical-center {
	display: flex;
	align-items: center;
}

.flex-justify-center {
	display: flex;
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-content-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.flex-1 {
	flex: 1;
}

.circle-red {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: #FF3F3F;
}

.red-active {
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: #FF3F3F;
	border: 4px solid #ffb2b2;
}

.container-width {
	max-width: 1440px;
}

.full-height {
	height: 100%;
}

.page-title {
	padding-top: 40px;
	padding-bottom: 45px;
	background: #fff;
}

.page-title-text {
	font-size: 18px;
	font-weight: 700;
	line-height: calc(34/28);
}

@media screen and (min-width: 768px) {
	.page-title-text {
		font-size: 24px;
	}
}

@media screen and (min-width: 1280px) {
	.page-title-text {
		font-size: 28px;
	}
}

.page-title-heading {
	margin: 0 15px;
	font-size: 27px;
	font-weight: 800;
}

@media screen and (min-width: 768px) {
	.page-title-heading {
		font-size: 40px;
		line-height: calc(60/48);
	}
}

@media screen and (min-width: 1280px) {
	.page-title-heading {
		font-size: 48px;
	}
}

.cert-heading {
	font-size: 27px;
	font-weight: 800;
}

@media screen and (min-width: 768px) {
	.cert-heading {
		font-size: 32px;
		line-height: calc(50/40);
	}
}

@media screen and (min-width: 1280px) {
	.cert-heading {
		font-size: 40px;
	}
}

.squada-font {
	font-family: 'Squada One', cursive;
}

.page-large-heading {
	margin: 0 15px;
	font-size: 30px;
	font-weight: 800;
	font-family: 'Squada One', cursive;
}

@media screen and (min-width: 992px) {
	.page-large-heading {
		font-size: 40px;
		line-height: calc(60/64);
	}
}

@media screen and (min-width: 1280px) {
	.page-large-heading {
		font-size: 64px;
	}
}

.page-medium-heading {
	font-size: 28px;
}

@media screen and (min-width: 992px) {
	.page-medium-heading {
		font-size: 38px;
		line-height: calc(75/60);
	}
}

@media screen and (min-width: 1280px) {
	.page-medium-heading {
		font-size: 60px;
	}
}

.time-heading {
	font-size: 26px;
}

@media screen and (min-width: 992px) {
	.time-heading {
		font-size: 36px;
		line-height: calc(59.2/56);
	}
}

@media screen and (min-width: 1280px) {
	.time-heading {
		font-size: 56px;
	}
}

.italic {
	font-style: italic;
}

.light-block {
	width: 24px;
	display: inline-block;
}

.select-box {
	width: 100%;
	max-width: 400px;
	margin: 20px auto 0;
	position: relative;
	background: #fff;
	border-radius: 22px;
	border: 6px solid transparent;
	transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1280px) {
	.select-box {
		max-width: 253px;
		margin: 0;
	}
}

.select-box:hover,
.form-focus {
	border: 6px solid #ffdecc;
}

.select-inner .arrow {
	position: absolute;
	right: 15px;
}

.arrow {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #14142B;
	border-left: 2px solid #14142B;
}

.arrow.arrow-down {
	transform: rotate(-135deg) translateX(3px);
}

.select-box__current {
	position: relative;
	cursor: pointer;
	outline: none;
	box-sizing: border-box;
	border-radius: 16px;
	border: 2px solid #FF6609;
}

.select-box__current:focus+.select-box__list {
	opacity: 1;
	-webkit-animation-name: none;
	animation-name: none;
}

.select-box__current:focus+.select-box__list .select-box__option {
	cursor: pointer;
}

.select-box__icon {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	width: 13px;
	transition: 0.2s ease;
}

.select-box__value {
	display: flex;
	border-radius: 20px;
}

.select-box__list li {
	overflow: hidden;
}

.select-box__list li:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.select-box__list li:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.select-box__input {
	display: none;
}

.select-box__input:checked+.select-box__input-text {
	display: block;
}

.select-box__input-text {
	width: 100%;
	margin: 0;
	padding: 15px;
	display: none;
	font-size: 16px;
	font-weight: 700;
	line-height: calc(22/16);
	text-transform: uppercase;
	background-color: transparent;
}

.select-box__list {
	width: 100%;
	padding: 0;
	position: absolute;
	top: calc(100% + 20px);
	opacity: 0;
	list-style: none;
	border-radius: 8px;
	z-index: 2;
	-webkit-animation-name: HideList;
	animation-name: HideList;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: step-start;
	animation-timing-function: step-start;
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.08));
}

.select-box__option {
	display: block;
	padding: 15px;
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	line-height: calc(22/16);
	background-color: #fff;
	border-bottom: 0.5px solid #D9DBE9;
	transition: all 0.3s ease-in-out;
}

.select-box__option:hover,
.select-box__option:focus,
.active-item {
	color: #FF6609;
	background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
	}
}

@keyframes HideList {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
	}
}

.arrow-top::before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 22px solid #fff;
}

.page-main {
	padding: 35px 0;
	background-image: url(../img/bgvertical.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (min-width: 1280px) {
	.page-main {
		background-image: url(../img/bghozital.png);
	}
}

.two-up-title {
	font-size: 24px;
	font-weight: 700;
}

@media screen and (min-width: 768px) {
	.two-up-title {
		font-size: 30px;
		line-height: calc(44/36);
	}
}

@media screen and (min-width: 1280px) {
	.two-up-title {
		font-size: 36px;
	}
}

.table-title {
	font-size: 24px;
}

@media screen and (min-width: 768px) {
	.table-title {
		font-size: 30px;
		line-height: calc(44/30);
	}
}

.grid-two {
	padding-bottom: 90px;
	margin-bottom: 25px;
	flex-direction: column-reverse;
	border-bottom: 1px solid #D9DBE9;
}

@media screen and (min-width: 992px) {
	.grid-two {
		flex-direction: row;
	}
}

.card-two {
	padding: 20px 10px 60px;
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 24px 32px 8px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 768px) {
	.card-two {
		padding: 20px 20px 60px;
		border-radius: 24px;
	}
}

.card-item {
	padding: 15px 15px 10px;
	background: #fff;
	border-radius: 16px;
}

.light-medium-bold {
	font-weight: 500;
}

.medium-bold {
	font-weight: 600;
}

.bold {
	font-weight: 800;
}

.card-two-header {
	padding: 18px;
	font-weight: 700;
	border-radius: 26px;
	background-image: url(../img/bgbutton.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-exam-header {
	padding: 18px;
	font-weight: 700;
	background-image: url(../img/bgbutton.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-two-heading {
	font-size: 18px;
}

@media screen and (min-width: 768px) {
	.card-two-heading {
		font-size: 24px;
		line-height: calc(34/28);
	}
}

@media screen and (min-width: 1280px) {
	.card-two-heading {
		font-size: 28px;
	}
}

.small-heading {
	font-size: 15px;
	line-height: calc(25/20);
	font-weight: 800;
}

@media screen and (min-width: 768px) {
	.small-heading {
		font-size: 17px;
	}
}

@media screen and (min-width: 1280px) {
	.small-heading {
		font-size: 20px;
	}
}

.card-two-cta {
	font-size: 17px;
	font-weight: 800;
	line-height: calc(27.5/22);
}

@media screen and (min-width: 768px) {
	.card-two-cta {
		font-size: 19px;
	}
}

@media screen and (min-width: 1280px) {
	.card-two-cta {
		font-size: 22px;
	}
}

.small-description {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: calc(18/14);
}

.smallest-des {
	font-size: 10px;
	line-height: calc(12.5/10);
}

.sub-small-des {
	font-size: 12px;
	line-height: calc(18/12);
}

.description {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: calc(22/16);
}

@media screen and (min-width: 1280px) {
	.description {
		font-size: 16px;
	}
}

.large-description {
	font-size: 15px;
	line-height: calc(22/18);
}

@media screen and (min-width: 1280px) {
	.large-description {
		font-size: 18px;
	}
}

.sub-title {
	font-size: 18px;
	line-height: calc(28/22);
}

@media screen and (min-width: 1280px) {
	.sub-title {
		font-size: 22px;
	}
}

.pb-0 {
	padding-bottom: 0!important;
}

.mb-0 {
	margin-bottom: 0!important;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-12 {
	margin-right: 12px;
}

.mr-15 {
	margin-right: 15px;
}

.mr-24 {
	margin-right: 24px;
}

.br-blue {
	border-right: 1px solid #D9DBE9;
}

.bl-blue {
	border-left: 1px solid #D9DBE9;
}

.sub-heading {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: calc(25/20);
	text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
	.sub-heading {
		font-size: 20px;
	}
}

.page-title-heading.blue-text {
	line-height: calc(60/48);
}

.blue-text {
	color: #4C43FF;
}

.deep-blue {
	color: #153074;

}

.red-text {
	color: #FF3F3F;
}

.btn {
	width: 100%;
	max-width: 300px;
	padding: 15px;
	background: #fff;
	border-radius: 50px;
	border: 2px solid #FF6609;
	transition: all 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
	outline: none !important;
}

.btn:hover {
	color: #fff;
	background-color: #FF6609;
}

.btn-orange {
	background: linear-gradient(161.77deg, #FF941A -12.3%, #FF6006 120.9%);
	box-shadow: 0px 4px 8px rgba(255, 107, 0, 0.24);
	border-color: transparent;
}

.btn-orange.btn:hover {
	opacity: 0.8;
}

.card-two-footer {
	position: absolute;
	top: calc(100% - 30px);
	left: 0;
	text-align: center;
}

.small-card {
	padding: 30px 10px;
	margin-bottom: 30px;
	background: #FFFFFF;
}

@media screen and (min-width: 992px) {
	.small-card {
		border-radius: 30px;
	}
}

.small-card-img {
	width: 100%;
	position: relative;
}

.card-img-inner {
	width: 100%;
	padding-top: 100%;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.card-img-inner img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 50%;
}

.second-img {
	width: 40px;
	min-width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.sub-img {
	width: 48px;
	min-width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
}

.sub-img-absolute {
	position: absolute;
	right: -14px;
	bottom: -14px;
}

.full-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.medium-img {
	width: 22px;
	height: 22px;
}

.small-img {
	width: 15px;
}

.sub-small-img {
	width: 12px;
}

.grid-registed {
	padding-bottom: 45px;
}

.grid-chat {
	padding-bottom: 0;
}

.grid-registed .card-two-footer {
	margin-top: 30px;
	position: static;
}

.grid-registed .card-two {
	padding-bottom: 10px;
}

.grid-registed .btn,
.btn-registed .btn {
	max-width: 340px;
	height: 55px;
	padding: 5px;
	background: #FFDECC;
	border-color: #FFDECC;
	border-radius: 30px 8px 8px 30px;
}

.grid-registed .btn:hover {
	background: #FF6609;
}

.btn-img {
	width: 45px;
	height: 45px;
	margin-right: 5px;
	border-radius: 50%;
	object-fit: cover;
}

.account-block {
	padding: 3px;
	margin-bottom: 10px;
	background: #F7F7FC;
	border-radius: 30px 0px 0px 30px;
}

.card-account {
	margin-bottom: 60px;
}

@media screen and (min-width: 992px) {
	.card-account {
		margin-bottom: 0;
	}
}

.grid-exam .card-two {
	padding-bottom: 10px;
}

.grid-exam .card-two-footer {
	position: static;
}

.grid-exam.grid-two {
	padding-bottom: 45px;
}

.avatar-student {
	width: 59px;
	height: 59px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #50ebfe;
}

.avatar-student img {
	position: relative;
	z-index: 3;
}

.rating-student {
	width: 18px;
	height: 18px;
	position: absolute;
	bottom: -9px;
	left: 50%;
	transform: translateX(-50%);
	background: #4EEAFF;
	border: 1.5px solid #FFFFFF;
	border-radius: 50%;
	z-index: 4;
}

.green-item .rating-student {
	background: #76FFCE;
}

.green-item .avatar-student {
	border-color: #76FFCE;
}

.first-item .rating-student {
	background: #FFED47;
}

.first-item .avatar-student::before {
	content: '';
	width: 200%;
	height: 150%;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%);
	background-image: url('../img/frame.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.student-info {
	min-height: 200px;
}

.header-right {
	padding: 8px 15px;
	background: #FFFFFF;
	border-radius: 8px;
}

.card-item .card-two-header {
	padding: 10px;
}

.grid-end .header-right {
	background: #4E4B66;
}

.underline {
	width: 120px;
	height: 6px;
	margin: 0 auto;
	background: linear-gradient(147.14deg, #FF941A 6.95%, #FF6006 93.05%);
	border-radius: 5px;
}

.underline-text {
	text-decoration: underline;
}

.block-section {
	margin-bottom: 30px;
}

@media screen and (min-width: 1280px) {
	.block-section {
		margin-bottom: 50px;
	}
}

.hero {
	padding: 30px 0;
	border-bottom: 1px solid #D9DBE9;
}

@media screen and (min-width: 1280px) {
	.hero {
		padding: 50px 0 40px;
	}
}

.card-avatar {
	padding: 30px 0;
	background: #FFFFFF;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.05);
	border-radius: 24px;
}

.card-container {
	padding: 0 20px;
}

@media screen and (min-width: 768px) {
	.card-container {
		padding: 0 30px;
	}
}

@media screen and (min-width: 1280px) {
	.card-container {
		padding: 0 45px;
	}
}

.avatar-info {
	width: 74px;
	height: 74px;
	border-radius: 50%;
}

.table-img {
	width: 54px;
	min-width: 54px;
	height: 54px;
	position: relative;
	border-radius: 50%;
}

.table-img img {
	position: relative;
	z-index: 2;
}

.table-img.top::before {
	content: ' ';
	width: 62.42px;
	height: 63.83px;
	position: absolute;
	left: -1px;
	bottom: 0;
	background-image: url('../img/frame-table.png');
	z-index: 1;
}

.top {
	position: relative;
}

.top img {
	border-radius: 50%;
	position: relative;
	z-index: 3;
}

.large-avatar.top::before {
	content: ' ';
    width: 87px;
    height: 89px;
    position: absolute;
    left: -3px;
    bottom: -2px;
    background-image: url(../img/frame-table.png);
    z-index: 1;
    background-size: cover;
}

.table-block {
	width: 100%;
	text-align: center;
	min-width: 860px;
}

.table-block .description {
	text-align: left;
}

.table-header {
	padding: 30px 0;
	margin-bottom: 10px;
	white-space: nowrap;
	border-bottom: 1px solid #D9DBE9;
}

.rw-1 {
	border: 2px solid #F4B740;
}

.r-table {
	padding: 13px 0;
	margin-bottom: 10px;
	position: relative;
	background: #fff;
	border-radius: 16px;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px rgba(0, 0, 0, 0.05);
}

.r-table:hover {
	box-shadow: 0px 24px 32px 8px rgba(0, 0, 0, 0.05);
}

.sky-text {
	color: #24DAF2;
}

.green-text {
	color: #15DC95;
}

.table-container {
	max-width: 100vw;
	overflow-x: auto;
}

@media screen and (min-width: 1280px) {
	.table-container {
		max-width: 100%;
		overflow-x: hidden;
	}
}

.hero-title {
	border: 0;
	padding-bottom: 0;
}

.card-two.card-registed {
	padding: 15px 27px;
}

.small-table .r-table {
	margin: 0;
	border-radius: 0;
}

.small-table .table-block {
	min-width: 650px;
	padding-top: 13px;
	margin-bottom: 40px;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 110.02%);
	border-radius: 16px;
	overflow: hidden;
}

.chat-box {
	padding: 25px 0;
	background: #FFFFFF;
	border-radius: 24px;
}

.chat-container {
	padding: 0 25px;
}

.input-chat {
	padding: 8px;
	background: #F7F7FC;
	border-radius: 16px;
}

.input-user {
	padding: 5px 0px 5px 8px;
}

.input-user:focus {
	outline: none;
}

.chat-btn {
	width: 36px;
	height: 36px;
	border: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.send-btn {
	background: #0395EE url(../img/send.png);
	border-radius: 8px;
}

.heart-btn {
	background-color: transparent;
	background-image: url(../img/heart.png);
}

.timeline {
	width: 150px;
	height: 50px;
	position: relative;
	border-radius: 6px;
	background: #EFF0F7;
	clip-path: polygon(0 85%, 100% 0, 100% 100%, 0% 100%);
}

.timeline-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(114.44deg, #EB0055 0%, #FFFA80 100%);
	border-radius: 6px;
	clip-path: polygon(0 85%, 100% 0, 100% 100%, 0% 100%);
	z-index: 1;
}

.two-block {
	padding: 30px 0 32px;
	background: #f9fafe;
}

@media screen and (min-width: 1280px) {
	.two-block {
		padding: 70px 0 32px;
	}
}

.card-col {
	background: #fff;
	border-radius: 16px;
	overflow: hidden;
}

.large-avatar {
	width: 74px;
	height: 74px;
	margin: -35px auto 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	
}

.card-wrapper {
	padding: 0 12px 12px;
}

.progress-wrapper {
	width: 100%;
	height: 6px;
	position: relative;
	background: linear-gradient(270deg, #E0E5F2 34.37%, rgba(255, 255, 255, 0) 100%);
	border-radius: 60px;
}

.progress-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(270deg, #4318FF 5.56%, rgba(67, 24, 255, 0) 100%);
	border-radius: 60px;
}

.progress-number {
	min-width: 53px;
	padding: 2px 4px;
	position: absolute;
	bottom: calc(100% + 12px);
	right: 0;
	display: inline-block;
	background: #4318FF;
	border-radius: 38px;
}

.progress-number::before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 100%;
	right: 10px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #4318FF;
}

.star-point {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 50%;
	left: 33%;
	transform: translateY(-50%);
	background: #fff;
	border: 4px solid #4318FF;
	box-sizing: border-box;
	border-radius: 50%;
	box-shadow: 0px 4px 12px rgba(67, 24, 255, 0.3);
}

.star-inner {
	width: 45px;
	height: 45px;
	position: absolute;
	bottom: calc(100% + 5px);
	left: 50%;
	background: url('../img/star.png');
	transform: translateX(-50%) rotate(13.85deg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.card-exam {
	background: #FFFFFF;
	border-radius: 24px;
	overflow: hidden;
}

.card-exam-inner {
	padding: 0 20px;
}

@media screen and (min-width: 768px) {
	.card-exam-inner {
		padding: 0 35px;
	}
}

@media screen and (min-width: 1280px) {
	.card-exam-inner {
		padding: 0 55px;
	}
}


/* The container */

.container-radio {
	display: block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	height: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 500;
}


/* Hide the browser's default radio button */

.container-radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}


/* Create a custom radio button */

.container-radio .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #ccc;
}


/* On mouse-over, add a grey background color */

.container-radio:hover input~.checkmark {
	background: #FF6609;
}


/* When the radio button is checked, add a blue background */

.container-radio input:checked~.checkmark {
	background: #FF6609;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the indicator (dot/circle) when checked */

.container-radio input:checked~.checkmark:after {
	display: block;
}


/* Style the indicator (dot/circle) */

.container-radio .checkmark:after {
	top: 9px;
	left: 9px;
	width: 0px;
	height: 8px;
	border-radius: 50%;
	background: #FF6609;
}

.border-grey {
	border: 1.5px solid #D9DBE9;
	box-sizing: border-box;
}

.answer {
	padding: 8px 14px 10px;
	border-radius: 6px;
}

.small-btn {
	max-width: 200px;
	padding: 10px 15px;
}

input:focus {
    outline: none;
}

.card-result .card-wrapper {
	padding-left: 25px;
	padding-right: 25px;
}

.block-point {
	position: absolute;
	left: calc(50% + 35px);
	bottom: 0;
}

.cert {
	padding: 35px 0;
	background-image: url("../img/bg-top.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.08));
	border-radius: 24px;
	overflow: hidden;
}

.cert-logo {
	max-width: 98px;
}

.cert .light-block {
	width: 17px;
}

.cert-title {
	font-size: 20px;
	line-height: calc(37.5/30);
}

@media screen and (min-width: 768px) {
	.cert-title {
		font-size: 25px;
	}
}

@media screen and (min-width: 1280px) {
	.cert-title {
		font-size: 30px;
	}
}

.scale-button:hover i {
	color: #FF6609;
}

.scale-button i {
	color: #FF6609;
}

.scale-button {
	color: #FF6609;
	justify-content: center;
	cursor: pointer;
}

@media screen and (min-width: 1280px){
	.scale-button {
		justify-content: flex-start;
	}
	.scale-button i {
		color: #6E7191;
		transition: all 0.3s ease-in-out;
	}
	.hover-text {
		color: #e5e5e5;
	}
}

.hover-text {
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
}

.scale-button:hover .hover-text {
	color: #FF6609;
}

.star-block {
	min-width: 32px;
	height: 32px;
	margin-left: 10px;
	background-image: url(../img/green-star.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.active.star-block {
	min-width: 48px;
	height: 46px;
	background-image: url(../img/orange-star.png);
	font-size: 18px;
}

.star-block:hover {
	background-image: url(../img/orange-star.png);
}

.star-block:first-child {
	margin-left: 0;
}

.star-block span {
	margin-top: 5px;
	font-size: 14px;
}

.card-exam.solution .card-exam-header {
	padding: 7px 18px;
}

.star-warrper {
	max-width: 100%;
	overflow-x: auto;
}

.star-warrper::-webkit-scrollbar {
	height: 3px;
  }
  
  /* Track */
  .star-warrper::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  .star-warrper::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  .star-warrper::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

  .wrong-answer {
	background: rgba(255, 63, 63, 0.2);
	border: 1.5px solid #FF3F3F;
  }

  .wrong-answer .container-radio input:checked~.checkmark {
	background: #FF3F3F;
	border: 1.5px solid #D9DBE9;
  }

  .correct {
	background: rgba(0, 186, 97, 0.1);
	border: 1.5px solid #00BA61;
  }

  .correct .container-radio input:checked~.checkmark {
	background: #00BA61;
	border: 1.5px solid #D9DBE9;
  }